.game-window {
	position: relative;
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}	

	&:after {
    	clear: both;
	}
}

.game-board {
	float: left;
	position: relative;
	z-index: 1;
}

.make-agent(@base) {
	background-color: @base;
	background-image: linear-gradient(to bottom, lighten(@base, 10%), @base 80%);
	box-shadow: 0px 5px 0 darken(@base, 20%), 0 5px 3px rgba(20,20,20,0.7), 0 8px 6px rgba(0,0,0,0.5);
	&:after {
		background-color: @base;
		background-image: radial-gradient(8px 7px, circle, lighten(@base, 20%), darken(@base, 20%));
		box-shadow: 1px 1px 0 darken(@base, 20%), 1px 3px 3px darken(@base, 10%);
	}
}

.agent {
	width: 50px; height: 20px;
	border-radius: ~"20px / 10px";
	position: relative;
	z-index: 2;
	margin: 7px 0px;
	font-size: 6px;
	display: inline-block;

	&:after {
		content: "";
		width: 26px; height: 20px;
		position: absolute;
		top: -5px;
		left: 12px;
		border-radius: ~"13px / 10px";
	}
}

.agent.mr-gray {
	.make-agent(#b8bfb9);
}

.agent.mr-blue {
	.make-agent(#2569cc);
}

.agent.mr-red {
	.make-agent(#c0001b);
}

.agent.mr-purple {
	.make-agent(#303c9b);
}

.agent.mr-green {
	.make-agent(#409944);
}

.agent.mr-yellow {
	.make-agent(#feed38);
}

.agent.mr-orange {
	.make-agent(#e96823);
}

.board-locations {
	margin: 0;
	padding: 0;

	li {
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.3em;
		}
	}

	.markers {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding: 0;
		width: 100%;
	}

	.has-file {
		background-image: url(/img/safe.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	.location-0 {
		top: 279px;
		left: 96px;
		width: 180px;
		height: 180px;
	}

	.location-1 {
		top: 88px;
		left: 117px;
		width: 180px;
		height: 180px;
	}

	.location-2 {
		top: 88px;
		left: 298px;
		width: 112px;
		height: 195px;
	}

	.location-3 {
		top: 88px;
		left: 420px;
		width: 180px;
		height: 200px;
	}

	.location-4 {
		top: 88px;
		left: 602px;
		width: 140px;
		height: 195px;
	}

	.location-5 {
		top: 88px;
		left: 750px;
		width: 180px;
		height: 168px;
	}

	.location-6 {
		top: 256px;
		left: 750px;
		width: 180px;
		height: 159px;
	}

	.location-7 {
		top: 420px;
		left: 764px;
		width: 170px;
		height: 190px;
	}

	.location-8 {
		top: 420px;
		left: 590px;
		width: 173px;
		height: 195px;
	}

	.location-9 {
		top: 418px;
		left: 433px;
		width: 155px;
		height: 201px;
	}

	.location-10 {
		top: 420px;
		left: 287px;
		width: 136px;
		height: 185px;
	}

	.location-11 {
		top: 460px;
		left: 96px;
		width: 180px;
		height: 159px;
	}

}

.make-counter(@base) {
	background-color: @base;
	border-top: 1px solid @base;
	box-shadow: 0px 4px 0 darken(@base, 20%), 0 5px 3px rgba(20, 20, 20, 0.7), 0 8px 6px rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(to bottom, lighten(@base, 10%), @base 80%);
}

.board-track {
	li {
		vertical-align: middle;
		margin: 5px 0;
	}

	.counter.mr-gray {
		.make-counter(#b8bfb9);
	}

	.counter.mr-blue {
		.make-counter(#2569cc);
	}

	.counter.mr-red {
		.make-counter(#c0001b);
	}

	.counter.mr-purple {
		.make-counter(#303c9b);
	}

	.counter.mr-green {
		.make-counter(#409944);
	}

	.counter.mr-yellow {
		.make-counter(#feed38);
	}

	.counter.mr-orange {
		.make-counter(#e96823);
	}

	.counter {
		width: 20px; height: 16px;
		border-radius: ~"10px / 8px";
		position: relative;
		margin: 2px;
		font-size: 6px;
		display: inline-block;
	}

	.many .counter {
	  margin: 0;
	}
}

.game-messages {
	position: absolute;
	width: 470px;
	height: 125px;
	left: 282px;
	top: 290px;
	position: absolute;
	text-align: center;

	&:before {
		content: '';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.3em;
	}

	span {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		padding: 0;
		background-color: rgba(255, 255, 255, 0.6);
		color: @color-content-dark;
		padding: 0.5em;
		font-size: 22px;
	}
}

.board-wrapper {
	position: relative;
}