html, body {
	min-height: 100%;
}

* {	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: @font-text;
	font-size: @font-size-base;
	color: @color-content-dark;
	background-color: @color-base-page;
	position: relative;
}

h1,h2,h3,h4,h5,h6 {
	font-family: @font-header;
	font-weight: bold;
}

h2,h3,h4,h5,h6 {
	margin: 0 0 0.5em;
}

a {
	text-decoration: none;
}

.ng-cloak {
	display: none;
}

header {
	color: @color-base-page;
	background-color: @color-content-dark;
	margin: 0;
	position: relative;

	h1 {
		margin: 0 0 0 1024px;
		font-size: 18px;
		padding: 10px;
		height: 41px;
	}
}

nav {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 18px;

	a {
		color: white;
	}
}

.legal {
	font-size: @font-size-small;
	color: darken(@color-base-page, 20%);
}

.content {
	text-align: left;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: lighten(@color-content-dark, 20%);
	z-index: 10;
}

.info-collection {
	position: absolute;
	top: 10%;
	left: 10%;
	right: 10%;
	min-height: 80%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2em;
	z-index: 15;
	color: @color-base-page;

	.cutout {
		color: lighten(@color-content-dark, 40%);
		text-transform: uppercase;
		font-style: italic;
		font-weight: bold;
		position: absolute;
		top: -0.35em;
		left: 1em;
		font-size: 60px;
		font-family: @font-header;
		width: 980px;

		.title {
			margin-right: 0.4em;
		}
	}

	.intro-instructions {
		float: left;
		width: 47%;
		max-height: 100%;
		overflow: auto;
	}

	.game-controls {
		margin-left: 53%;
	}

	a {
		color: @color-links-light;
	}	

	input[type="text"] {
		width: 100%;
		font-size: 32px;
		padding: 0.4em;
		border: 0;
		background-color: #ddd;
		margin-bottom: 0.5em;
	}

	label {
		display: block;
		margin-top: 1em;
	}

	button {
		border: 0;
		font-size: 32px;
		padding: 0.4em;
		background-color: green;
		color: white;
	}

	.name-entry {
		margin-bottom: 1em;
	}

	.waiting-start {
		li {
			font-size: 18px;
			margin-bottom: 3px;
		}
		ul {
			padding-left: 1em;
		}
	}

	.advanced-options {
		margin-top: 1em;
	}

	.game-url {
		margin-bottom: 1em;
	}
}