.info-collection, .name-entry, .game-url, .my-agent, .die, .get-started, .player-agent,
.board-locations, .board-track, .advanced-options, .waiting-start, .info-error-message,
.initial-join-message, .current-joined {
	display: none;
}

body.error {
	
}

body.provide-name {
	.info-collection, .name-entry {
		display: block;
	}
	.info-collection {
		&.init .name-entry, &.error .name-entry {
			display: none;
		}
		&.error .info-error-message {
			display: block;
		}
	}
}

body.provide-name.master-role {
	.info-collection.init .name-entry {
		display: block;
	}
}

body.provide-name.player-role {
	.init .initial-join-message {
		display: block;
	}
	.prompt .current-joined {
		display: block;
	}
}

body.awaiting-players {
	.info-collection, .waiting-start {
		display: block;
	}
}

body.awaiting-players.master-role {
	.get-started, .game-url, .advanced-options, .current-joined {
		display: block;
	}
	.waiting-start {
		display: none;
	}
}

body.playing {
	.my-agent, .die, .game-board, .board-locations, .board-track {
		display: block;
	}
	.overlay {
		display: none;
	}
}

body.game-over {
	.player-agent {
		display: inline;
	}
	.my-agent, .game-board, .board-locations, .board-track {
		display: block;
	}
	.overlay {
		display: none;
	}
}

body.player-role {
	.not-joiner {
		display: none;
	}
}

body.master-role {
	.joiner {
		display: none;
	}
}

.game-board {

}

.game-board.waiting {

}

.game-board.moving-agents {
	.markers .agent {
		cursor: hand;
		cursor: pointer;
	}
}

.game-board.moving-file {
	.board-locations .empty {
		cursor: hand;
		cursor: pointer;
	}
}

.advanced-options .opts {
	display: none;
}

.advanced-options .opts.shown {
	display: block;
}
