.info-collection, .name-entry, .game-url, .my-agent, .die, .get-started, .player-agent,
.board-locations, .board-track, .advanced-options, .overlay, .waiting-start {
	display: none;
}

body.initial {
	
}

body.provide-name {
	.overlay, .info-collection, .name-entry {
		display: block;
	}
}

body.awaiting-players {
	.overlay, .info-collection, .waiting-start {
		display: block;
	}
}

body.awaiting-players.master-role {
	.get-started, .game-url, .advanced-options {
		display: block;
	}
	.waiting-start {
		display: none;
	}
}

body.playing {
	.my-agent, .die, .game-board, .board-locations, .board-track {
		display: block;
	}
}

body.game-over {
	.player-agent {
		display: inline;
	}
	.my-agent, .game-board, .board-locations, .board-track {
		display: block;
	}
}

.game-board {

}

.game-board.waiting {

}

.game-board.moving-agents {
	.markers .agent {
		cursor: hand;
		cursor: pointer;
	}
}

.game-board.moving-file {
	.board-locations .empty {
		cursor: hand;
		cursor: pointer;
	}
}

.advanced-options .opts {
	display: none;
}

.advanced-options .opts.shown {
	display: block;
}

